/*body, html {
	height: 100%;
}*/

/*.container{
	height: 100%;
	position: relative;
}*/

#bg {
  position: fixed; 
  top: -70px; 
  right: 0; 
	
  /* Preserve aspet ratio */
  min-width: auto;
  min-height: auto;
}

.textblock {
	position: absolute;
	top: 40%;
	left: 11%;
}